/** overide browser defaults. ***/
* {
    box-sizing: border-box;
    
}

h1, h2{
    font-family: "Futura",sans-serif;
}
h1{
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 60px;
}

#menu-container{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 98%;

}

#menu-container > div{

    padding:10px;
    padding-top: 2em;
    background-color: silver;
    position: relative;
    margin-bottom: 10px;
}

#menu-container > div, #menu-container h2{
    border: black solid 1px;
}

#menu-container h2{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    text-align: center;
    width: 100px;
    padding: 5px;
    font-size: 1.25em;

}

#item1 > h2{
    background-color: seagreen;
}

#item2 > h2{
    background-color: rosybrown;
    color: maroon;
}

#item3 > h2{
    background-color: royalblue;
    color: blue;
}

@media (min-width: 992px){
    .col-lg-4{
        float: left;
        width: 31%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
        margin: 1%
    }
    .col-md-6{
        width: 48%;

    }

    .col-md-12{
        width: 98%;
    }
}

